{% extends '/admin/base.html.twig' %}

{% block title %}Administration des images{% endblock %}

{% block body %}

    <div class="d-flex mb-4 row">
        <h1 class="col-10">Administration des images</h1>

        <div class="col-2">
            <a class="float-right" href="https://bulkresizephotos.com/fr" target="_blank">Redimensionnement d'image (choisir 800 * 600)</a>
        </div>
    </div>

    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col" class="col-w-lg">Image</th>
                <th scope="col" class="col-w-lg">Texte alternatif</th>
                <th scope="col">Légende</th>
                <th scope="col" class="col-w-lg">Auteur</th>
                <th scope="col" class="col-w-xl">Album</th>
                <th scope="col" class="col-w-xs">Priorité d'affichage (1=max)</th>
                <th scope="col" class="col-w-xs">En couverture ?</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr class="table-primary">
                {{ form_start(form_add, {'action': path('admin_image_add'), 'method': 'POST'}) }}
                    <td>{{ form_widget(form_add.file, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.alt, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.caption, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.author, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.album, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.priority, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(form_add.cover, {'attr': {'class': 'form-control'}}) }}</td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa fa-plus-circle fa-2x mx-2" aria-hidden="true"></i>
                        </button>
                    </td>
                {{ form_end(form_add) }}
            </tr>

            {% for image in images %}

                <tr class="table-primary" id="image-{{ image.id }}">

                    {% if form_edit is defined and image == image_edit %}

                        {{ form_start(form_edit, {'action': path('admin_image_edit', {id: image.id}), 'method': 'POST'}) }}

                            <td>{{ form_widget(form_edit.file, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.alt, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.caption, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.author, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.album, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.priority, {'attr': {'class': 'form-control'}}) }}</td>
                            <td>{{ form_widget(form_edit.cover, {'attr': {'class': 'form-control'}}) }}</td>

                            <td class="text-center">
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fa fa-check fa-2x mx-2" aria-hidden="true"></i>
                                </button>

                                <a href="{{ path('admin_image_browse') }}" class="btn btn-outline-secondary">
                                    <i class="fa fa-close fa-2x mx-2" aria-hidden="true"></i>
                                </a>
                            </td>

                        {{ form_end(form_edit) }}

                    {% else %}

                        <td><img src="{{ asset(image_directory|replace({'/public/' : ''}) ~ '/' ~ image.src) }}" alt="{{ image.alt }}"/></td>
                        <td>{{ image.alt }}</td>
                        <td>{{ image.caption }}</td>
                        <td>{{ image.author }}</td>
                        <td>{{ image.album }}</td>
                        <td>{{ image.priority }}</td>
                        <td><input type="checkbox" class="form-control" disabled="disabled" {{ image.cover ? 'checked' }}></td>

                        <td class="text-center">

                            <form action="{{ path('admin_image_edit', {id: image.id}) }}#{{ 'image-' ~ image.id }}" method="post" class="d-inline">
                                <button class="btn btn-outline-warning">
                                    <i class="fa fa-pencil fa-2x mx-2" aria-hidden="true" alt="modifier"></i>
                                </button>
                            </form>

                            <form action="{{ path('admin_image_delete', {id: image.id}) }}" method="post" class="delete-form d-inline">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="btn btn-outline-danger">
                                    <i class="fa fa-trash fa-2x mx-2" aria-hidden="true" alt="supprimer"></i>
                                </button>
                            </form>

                        </td>

                    {% endif %}

                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}
