{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">

    <header></header>

    <main class="album-list">
        <section>

        {% for album in albums %}

            <article>

                <p>{{ album.author.firstname }} {{ album.author.lastname }}</p>

                    <a href="{{ path('album_read', {'id': album.id}) }}">
                        <figure>
                            <img 
                                src="{{ asset(image_directory|replace({'/public/' : ''}) ~ '/' ~ album.featuredImage.src) }}" 
                                alt="{{ album.featuredImage.alt }}"
                            />
                            <figcaption>{{ album.title }}</figcaption>
                        </figure>
                    </a>

                    <div>
                        {% for tag in album.tags %}
                            {{ tag.title }}
                        {% endfor %}
                    </div>
                
                <hr>

            </article>

        {% endfor %}

        </section>
    </main>

    <footer></footer>


</div>

{% endblock %}
