{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}

    {% set route = app.request.attributes.get('_route') %}
    {% set id = app.request.attributes.get('id') %}

    <header class ="row mb-3">
    
        <h1 class="col-lg-8">Liste des albums</h1>

        <form class="col-lg-2" action="{{ path('albums_by_author', {'id': 0}) }}">
            <select class="filter form-control">
                <option value="0">Auteurs</option>

                {% for author in authors %}

                    {% set selected = '' %}
                    {% if (route == 'albums_by_author') and (id == author.id) %}>
                        {% set selected = 'selected' %}
                    {% endif %}

                    <option value={{ author.id }} {{selected}}>{{ author.firstname }}</option>

                {% endfor %}

            </select>
        </form>

        <form class="col-lg-2" action="{{ path('albums_by_tag', {'id': 0}) }}">

            <select class="filter form-control">
                <option value="0">Etiquettes</option>

                {% for tag in tags %}

                    {% set selected = '' %}
                    {% if (route == 'albums_by_tag') and (id == tag.id) %}>
                        {% set selected = 'selected' %}
                    {% endif %}

                    <option value={{ tag.id }} {{selected}}> {{ tag.title }}</option>

                {% endfor %}

            </select>
        </form>

    </header>

    <main class="album-list">

        <div class="jumbotron d-flex flex-wrap justify-content-start">

            {% for album in albums %}

                {% set priority = 999999 %}
                {% set featured_image = null %}
                {% for image in album.images %}

                    {% if image.cover and image.priority < priority %}
                        {% set featured_image = image %}
                        {% set priority = image.priority %}
                    {% endif %}

                {% endfor %}

                {% if not featured_image == null %}

                    {% set birthday = false %}
                    {% set birthday_css_class = '' %}
                    {% if (album.author.birthday|date("m/d") == 'now'|date("m/d")) %}
                        {% set birthday = true %}
                        {% set birthday_css_class = 'birthday' %}
                    {% endif %}

                    {% set colors = ['primary', 'secondary', 'success', 'info', 'warning'] %}

                    <article class="card text-white bg-{{ cycle(colors, loop.index0) }} mb-4 mr-4 {{ birthday_css_class }}">

                        <div class="card-header d-flex justify-content-between">
                            <p>{{ album.author.firstname }}</p>
                            {% if birthday %}
                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-white" href="{{ path('album_read', {'id': album.id}) }}">{{ album.title|nl2br }}</a>
                            </h4>
                            <p class="card-text">
                                <a href="{{ path('album_read', {'id': album.id}) }}">
                                    {% if featured_image %} 
                                        <img 
                                            src="{{ asset(image_directory|replace({'/public/' : ''}) ~ '/' ~ featured_image.src) }}" 
                                            alt="{{ featured_image.alt }}"
                                        />
                                    {% endif %}
                                </a>
                            </p>
                            <div>
                                {% for tag in album.tags %}
                                    {{ tag.title }}
                                {% endfor %}
                            </div>
                        </div>

                    </article>

                {% endif %}

            {% endfor %}

        </div>
    </main>

    <footer></footer>

{% endblock %}
