{% extends 'base.html.twig' %}

{% block title %}Album {{ album.title }} {% endblock %}

{% block body %}

<div class="container">

    <header></header>

    <main class ="album">
        <section>

            <h1>{{ album.title|nl2br }}</h1>

            <div><a href="{{ app.request.headers.get('referer') }}">Retour</a></div>

            <p>{{ album.author.firstname }} {{ album.author.lastname }}</p>

            <div>
                {% for tag in album.tags %}
                    {{ tag.title }}
                {% endfor %}
            </div>

            <p>{{ album.content|nl2br }}</p>

            {% for image in album.images %}

                <figure>
                    <img 
                        src="{{ asset(image_directory|replace({'/public/' : ''}) ~ '/' ~ image.src) }}" 
                        alt="{{ image.alt }}"
                    />
                    <figcaption>{{ image.caption|nl2br }}</figcaption>
                </figure>

            {% endfor %}

        </section>
    </main>

    <footer></footer>


</div>

{% endblock %}
