{% extends 'base.html.twig' %}

{% block title %}Album {{ album.title }} {% endblock %}

{% block body %}

<div class="container">

    <header></header>

    <main class ="album pt-0">

        <div class="jumbotron">

            {% set birthday = false %}
            {% set birthday_css_class = '' %}
            {% if (album.author.birthday|date("m/d") == 'now'|date("m/d")) %}
                {% set birthday = true %}
                {% set birthday_css_class = 'birthday' %}
            {% endif %}

            <div class="text-right my-n5 text-secondary">
                {% for tag in album.tags %}
                    {{ tag.title }}
                {% endfor %}
            </div>

            <h1 class="mt-5 mb-3 pt-3">{{ album.title|nl2br }}</h1>

            <h3 class="d-flex justify-content-between {{ birthday_css_class }} {{ birthday ? 'pt-3 px-4 text-white' : 'text-primary' }}">
                <p>{{ album.author.firstname }}</p>
                {% if birthday %}
                    <i class="fa fa-birthday-cake text-white" aria-hidden="true"></i>
                {% endif %}
            </h3>

            <hr class="my-4">

            <p>{{ album.content|nl2br }}</p>

            <hr class="my-4">

            <div class="container d-flex flex-wrap">

                {% for image in album.images %}

                    <div class="image m-2 text-right }}">
                        <figure>
                            <img
                                src="{{ asset(image_directory|replace({'/public/' : ''}) ~ '/' ~ image.src) }}" 
                                alt="{{ image.alt }}"
                                class="w-100 mb-2"
                            />
                            <figcaption class="text-justify">{{ image.caption|nl2br }}</figcaption>
                        </figure>
                    </div>

                    <hr class="my-4">

                {% endfor %}

            </div>

        </div>

    </main>

    <footer></footer>


</div>

{% endblock %}
