{% extends '/admin/base.html.twig' %}

{% block title %}Administration des étiquettes{% endblock %}

{% block body %}

    <h1 class="mb-4">Administration des auteurs</h1>

    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr class="table-primary">
                {{ form_start(form_add, {'action': path('admin_author_add'), 'method': 'POST'}) }}
                    <td colspan="3">
                        <div class="d-flex">
                            <div class="mx-1">
                                {{ form_widget(form_add.firstname) }}
                            </div>
                            <div class="mx-1">
                                {{ form_widget(form_add.lastname) }}
                            </div>
                            <div class="mx-1">
                                {{ form_widget(form_add.birthday) }}
                            </div>

                        </div>
                    </td>
                    <td class="text-center">
                            <div>
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fa fa-plus-circle fa-2x mx-2" aria-hidden="true"></i>
                                </button>
                            </div>
                    </td>
                {{ form_end(form_add) }}
            </tr>

            {% for author in authors %}

                <tr class="table-primary">

                    {% if form_edit is defined and author == author_edit %}

                        {{ form_start(form_edit, {'action': path('admin_author_edit', {id: author.id}), 'method': 'POST'}) }}
                        <td>
                        <div class="d-flex">
                            <div class="mx-1">
                                {{ form_widget(form_edit.firstname) }}
                            </div>
                            <div class="mx-1">
                                {{ form_widget(form_edit.lastname) }}
                            </div>
                            <div class="mx-1">
                                {{ form_widget(form_edit.birthday) }}
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-success py-0">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        </td>
                        <td></td>
                        <td></td>
                        {{ form_end(form_edit) }}

                    {% else %}

                        <td>{{ author.firstname }}</td>
                        <td>{{ author.lastname }}</td>
                        <td>{{ author.birthday|date("m/d/Y") }}</td>

                    {% endif %}

                    <td class="text-center">
                        <form action="{{ path('admin_author_edit', {id: author.id}) }}" method="post" class="d-inline">
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-pencil fa-2x mx-2" aria-hidden="true" alt="modifier"></i>
                            </button>
                        </form>
                        {% if author.images.count == 0 and author.albums.count == 0 %}
                            <form action="{{ path('admin_author_delete', {id: author.id}) }}" method="post" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="btn btn-outline-danger delete-btn">
                                    <i class="fa fa-trash fa-2x mx-2" aria-hidden="true" alt="supprimer"></i>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}
