<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>

        {% set current_route = app.request.attributes.get('_route') %}
        
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{{ path('admin_tag_browse') }}" 
                        class="nav-link {{ 'admin_tag' in current_route ? 'active' }}" 
                        data-toggle="tab">
                        Etiquettes
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_author_browse') }}" 
                        class="nav-link {{ 'admin_author' in current_route ? 'active' }}" 
                        data-toggle="tab">
                        Auteurs
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_album_browse') }}" 
                        class="nav-link {{ 'admin_album' in current_route ? 'active' }}" 
                        data-toggle="tab">
                        Albums
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_image_browse') }}" 
                        class="nav-link {{ 'admin_image' in current_route ? 'active' }}" 
                        data-toggle="tab">
                        Images
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('home') }}" 
                        class="nav-link text-success" 
                        data-toggle="tab">
                        Le site
                    </a>
                </li>

            </ul>
        </nav>

        <main class="admin">

            <div class="jumbotron pt-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>

        </main>

    {% block javascripts %}
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script  
            src="{{ asset('js/app.js') }}">
        </script>
    {% endblock %}

    </body>
    
</html>
