{% extends '/admin/base.html.twig' %}

{% block title %}Administration des étiquettes{% endblock %}

{% block body %}

    <h1 class="mb-4">Administration des étiquettes</h1>

    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Nom de l'étiquette</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr class="table-primary">

                {{ form_start(form_add, {'action': path('admin_tag_add'), 'method': 'POST'}) }}

                    <td>{{ form_widget(form_add.title, {'attr': {'class': 'form-control'}}) }}</td>

                    <td class="text-center">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa fa-plus-circle fa-2x mx-2" aria-hidden="true"></i>
                        </button>
                    </td>

                {{ form_end(form_add) }}

            </tr>

            {% for tag in tags %}

                <tr class="table-primary">

                    {% if form_edit is defined and tag == tag_edit %}

                        {{ form_start(form_edit, {'action': path('admin_tag_edit', {id: tag.id}), 'method': 'POST'}) }}

                            <td>{{ form_widget(form_edit.title, {'attr': {'class': 'form-control'}}) }}</td>

                            <td class="text-center">
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fa fa-pencil fa-2x mx-2" aria-hidden="true"></i>
                                </button>

                                <a href="{{ path('admin_tag_browse') }}" class="btn btn-outline-secondary">
                                    <i class="fa fa-close fa-2x mx-2" aria-hidden="true"></i>
                                </a>
                            </td>

                        {{ form_end(form_edit) }}

                    {% else %}

                        <td>{{ tag.title }}</td>

                        <td class="text-center">

                            <form action="{{ path('admin_tag_edit', {id: tag.id}) }}" method="post" class="d-inline">
                                <button class="btn btn-outline-warning">
                                    <i class="fa fa-pencil fa-2x mx-2" aria-hidden="true" alt="modifier"></i>
                                </button>
                            </form>

                            <form action="{{ path('admin_tag_delete', {id: tag.id}) }}" method="post" class="delete-form d-inline">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="btn btn-outline-danger">
                                    <i class="fa fa-trash fa-2x mx-2" aria-hidden="true" alt="supprimer"></i>
                                </button>
                            </form>

                        </td>

                    {% endif %}

                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}
